<p>
  {{ msg$ | async }}
  <button (click)="loadQuestion()">Next question</button>
  <button (click)="setInputs()">Set inputs</button>
</p>
<div *ngIf="(configPromise$ | async)">
<div *ngFor="let entry of (configPromise$ | async) as config; let ind = index;">
    <div *ngIf="entry.confType == 'boolean'">
      <label>
        <input type="checkbox" ngModel="config[ind].confValue" name="conf-{{ ind }}">
        {{ entry.confKey }}
      </label>
    </div>
    <div *ngIf="entry.confType == 'int'">
      <label>
        {{ entry.confKey }}:
        <input type="number" ngModel="entry.confValue" name="conf-{{ ind }}">
      </label>
    </div>
    <div *ngIf="entry.confType == 'string'">
      <label>
        {{ entry.confKey }}:
        <input type="text" ngModel="config[ind].confValue" name="conf-{{ ind }}">
      </label>
 </div>   </div>
</div>
<p>
  <audio id="audioElement">
    <source src="" id="sourceElement"/>
  </audio>
</p>
